<div class="suggestion">
  <span>Allergy</span>
  <span>General blood test</span>
  <span>General urine test</span>
  <span>Biochemical analyzes</span>
  <span>Blood group and Rh factor</span>
  <span>Blood clotting</span>
  <span>Hormones</span>
  <span>Sexually Transmitted Diseases</span>
  <span>Microbiological studies (crops)</span>
  <span>Infections, parasites, fungi</span>
  <span>Analyzes for children</span>
  <span>Analyzes for women</span>
  <span>Pregnancy tests</span>
  <span>Analyzes for men</span>
  <span>Vitamins and minerals</span>
  <span>Diabetes</span>
  <span>Heart and blood vessels</span>
  <span>Genetic analyzes</span>
  <span>Oncomarkers</span>
</div>
