<div class="footer-div">
  <div class="footer-div-a">

    <div class="brand-icon">
      <img class="brand-img" src="https://medicover.ua/images/Logo.png" (click)="toStartPage()">
    </div>

    <div class="addresses-div">
      <div class="addresses-text">
        <span>You can find us at the</span>
        <span>following addresses</span>
      </div>
      <div class="addresses-button">
        <button mat-flat-button color="primary" class="but-addresses" [routerLink]="['./department-info']">VIEW MAP</button>
      </div>
    </div>

    <div class="networks-div">
      <div class="email-div">
        <span>medicover@gmail.com</span>
      </div>
      <div class="buttons-div">
        <button mat-stroked-button color="primary" class="but-f-i-y">
          <mat-icon svgIcon="facebook"></mat-icon>
        </button>
        <button mat-stroked-button color="primary" class="but-f-i-y">
          <mat-icon svgIcon="instagram"></mat-icon>
        </button>
        <button mat-stroked-button color="primary" class="but-f-i-y">
          <mat-icon svgIcon="youtube"></mat-icon>
        </button>
      </div>
    </div>

  </div>

  <div class="footer-div-b">
    <div class="footer-div-b-text">
      <span>© 2009-2019 | «MEDICOVER»</span>
    </div>
    <div class="footer-div-b-text">
      <span>created by Sofiya Tatchyn</span>
    </div>
  </div>
</div>
