<form [formGroup]="registerClientForm" (ngSubmit)="registerClient()">
  <div class="center">
    <mat-form-field class="firstName-input">
      <input matInput placeholder="First Name" formControlName="firstName" mask="S*">
      <mat-icon matPrefix>account_circle</mat-icon>
      <mat-error
        *ngIf="registerClientForm.get('firstName').invalid && (registerClientForm.get('firstName').dirty || registerClientForm.get('firstName').touched)">
        <mat-error *ngIf="registerClientForm.get('firstName').errors.required" class="error-form-message">
          First name is required!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="secondName-input">
      <input matInput placeholder="Second Name" formControlName="secondName" mask="S*">
      <mat-icon matPrefix>account_circle</mat-icon>
      <mat-error
        *ngIf="registerClientForm.get('secondName').invalid && (registerClientForm.get('secondName').dirty || registerClientForm.get('secondName').touched)">
        <mat-error *ngIf="registerClientForm.get('secondName').errors.required" class="error-form-message">
          Second name is required!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="login-input">
      <input matInput placeholder="Email" formControlName="email">
      <mat-icon matPrefix>contact_mail</mat-icon>
      <mat-error
        *ngIf="registerClientForm.get('email').invalid && (registerClientForm.get('email').dirty || registerClientForm.get('email').touched)">
        <mat-error *ngIf="registerClientForm.get('email').errors.required" class="error-form-message">
          Email is required!
        </mat-error>
        <mat-error *ngIf="registerClientForm.get('email').errors.pattern" class="error-form-message">
          Incorrect form of email!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="phone-input">
      <input matInput placeholder="Contact Phone" formControlName="phone" prefix="+38 (0" mask="00) 000 00 00">
      <mat-icon matPrefix>contact_phone</mat-icon>
      <mat-error
        *ngIf="registerClientForm.get('phone').invalid && (registerClientForm.get('phone').dirty || registerClientForm.get('phone').touched)">
        <mat-error *ngIf="registerClientForm.get('phone').errors.required" class="error-form-message">
          Contact phone is required!
        </mat-error>
        <mat-error *ngIf="registerClientForm.get('phone').errors.pattern" class="error-form-message">
          Incorrect form of contact phone!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="dateOfBirth-input">
      <input
        matInput
        placeholder="Date of Birth"
        formControlName="birthDate"
        [matDatepicker]="picker"
        [min]="minDate"
        [max]="maxDate"
        readonly
      >
      <mat-datepicker-toggle matSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year"
        panelClass="example-month-picker"
      >
      </mat-datepicker>
      <mat-icon matPrefix (click)="$event.stopPropagation()">date_range</mat-icon>
      <mat-error
        *ngIf="registerClientForm.get('birthDate').invalid && (registerClientForm.get('birthDate').dirty || registerClientForm.get('birthDate').touched)">
        <mat-error *ngIf="registerClientForm.get('birthDate').errors.required" class="error-form-message">
          Date of birth is required!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="password-input">
      <input matInput placeholder="Password" formControlName="password" [type]="showPassword ? 'text' : 'password'">
      <mat-icon matPrefix>vpn_key</mat-icon>
      <mat-icon matSuffix (click)="showPassword = !showPassword; $event.stopPropagation()">
        {{ showPassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
      <mat-error
        *ngIf="registerClientForm.get('password').invalid && (registerClientForm.get('password').dirty || registerClientForm.get('password').touched)">
        <mat-error *ngIf="registerClientForm.get('password').errors.required" class="error-form-message">
          Password is required!
        </mat-error>
        <mat-error *ngIf="registerClientForm.get('password').errors.minlength" class="error-form-message">
          Password must be longer than 5!
        </mat-error>
        <mat-error *ngIf="registerClientForm.get('password').errors.maxlength" class="error-form-message">
          Password must be shorter than 17!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <div class="sign-up-button-wrapper">
      <button mat-stroked-button color="primary" class="btn-login" [routerLink]="['../../login']">Log In</button>
      <button mat-flat-button color="primary" type="submit" [disabled]="!registerClientForm.valid" class="btn-register">
        Sign Up
      </button>
    </div>

  </div>
</form>
