<div class="discount-div">
  <div class="suggestion-div">
    <app-aside-menu></app-aside-menu>
  </div>

  <div class="discount">
    <div class="discount-header">
      <h1>How to get a 10% discount?</h1>
    </div>

    <div class="discount-list">
      <div class="discount-text">
        <span>On our site you can make a preliminary order for any research in several steps.</span>
      </div>
      <div class="discount-head-text">
        <span>What does this give?</span>
      </div>
      <div class="discount-list-item">
        <img src="https://esculab.com/esculab/images/articles/viber%20image5.jpg">
        <span>Get a <b>10% discount</b> on all analyzes when ordering for an online order.</span>
      </div>
      <div class="discount-list-item">
        <img src="https://esculab.com/esculab/images/articles/1559565077.viber%20image2.jpg">
        <span>
          <b>Save time</b> in the department of the medical laboratory Medicover. When<br>
          ordering, you simply name the order number or give your printed order, and the<br>
          administrator will display information with your personal data and research list.
        </span>
      </div>
      <div class="discount-list-item">
        <img src="https://esculab.com/esculab/images/articles/1559565517.viber%20image3.jpg">
        <span>
          There is no need to speak aloud research and personal data once more - this<br>
          keeps <b>security and privacy</b>.
        </span>
      </div>
      <div class="discount-list-item">
        <img src="https://esculab.com/esculab/images/articles/1559565582.viber%20image.jpg">
        <span>In advance, you can learn <b>the rules of preparing for analyzes</b> on the site.</span>
      </div>
      <div class="discount-list-item">
        <img src="https://esculab.com/esculab/images/articles/1559565668.viber%20image4.jpg">
        <span>It's convenient to <b>plan your time</b> - a pre-order is stored in your personal account.</span>
      </div>
    </div>

    <div class="discount-header">
      <h1>How to get a 10% discount?</h1>
    </div>

    <div class="discount-steps">

      <div class="discount-steps-item">
        <div class="discount-steps-icon">
          <mat-icon>add_shopping_cart</mat-icon>
        </div>
        <div class="discount-steps-inf">
          <div class="discount-steps-head-text">
            <span>Step 1</span>
          </div>
          <div class="discount-steps-text">
            <span>Add the necessary research to the cart on the Medicover site.</span>
          </div>
        </div>
      </div>

      <div class="discount-steps-item">
        <div class="discount-steps-icon">
          <mat-icon>person_pin</mat-icon>
        </div>
        <div class="discount-steps-inf">
          <div class="discount-steps-head-text">
            <span>Step 2</span>
          </div>
          <div class="discount-steps-text">
            <span>Make sure you are logged into your personal account. Your order will be formed into a file.</span>
          </div>
        </div>
      </div>

      <div class="discount-steps-item">
        <div class="discount-steps-icon">
          <mat-icon>done</mat-icon>
        </div>
        <div class="discount-steps-inf">
          <div class="discount-steps-head-text">
            <span>Step 3</span>
          </div>
          <div class="discount-steps-text">
            <span>Automatically get a 10% discount.</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
