<div class="preparation-div">
  <div class="suggestion-div">
    <app-aside-menu></app-aside-menu>
  </div>

  <div class="preparation">
    <div class="preparation-header">
      <h1>Rules for preparation for analyzes</h1>
    </div>

    <div class="preparation-list">
      <div class="preparation-head">
        <span>Warning! Your doctor's recommendations for laboratory testing are top priority!</span>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>CRV + PCR (blood) + BAC (blood for sterility)</span>
        </div>
        <div class="preparation-text">
          <span>Venous blood is taken on an empty stomach or 8-12 h after eating.</span>
          <span>A small amount of water is allowed on the day of the study.</span>
          <span>For 6-12 years before the study should exclude stressful situations, taking food, alcohol, smoking and limiting physical activity.</span>
          <span>You should also exclude the use of medicines. If it is not possible to cancel treatment, it is necessary to inform the administrator at the point of biomaterial harvesting about it before delivery of blood.</span>
          <span>Children under 5 years of age before donating blood it is desirable to drink boiled water (in portions to 150-200 ml for 30 minutes).</span>
          <span>For infants - before the delivery of the blood to withstand the maximum possible pause between feeding.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Prostate-specific antigen is common and free (blood serum)</span>
        </div>
        <div class="preparation-text">
          <span>Blood samples should be taken for biopsy, prostatectomy, prostate massage, prostate ultrasound, and manual rectal examination as these manipulations can lead to an increase in PSA levels for up to 3 weeks.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Calcitonin (blood serum)</span>
        </div>
        <div class="preparation-text">
          <span>Venous blood is taken on an empty stomach or after 8-12 hours after meals - to determine the values ​​at the basic level. If samples are taken as part of a provocative test, then it is necessary to indicate the time taken for the intake of calcium or pentagastrin.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Parathormone (blood serum)</span>
        </div>
        <div class="preparation-text">
          <span>It is desirable to carry out repeated blood delivery to research of parathyroid hormone at the same time.</span>
          <span>Patients taking hormonal medications should not violate the schedule of admission on the day of delivery, unless there are special recommendations from the attending physician.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Prolactinum</span>
        </div>
        <div class="preparation-text">
          <span>After a dream should pass no more than 2 hours, blood to rush in the morning in a state of rest, before the study will exclude palpation of the mammary glands.</span>
          <span>For 6-12 years before the study should exclude stressful situations, taking alcohol, smoking, eating, limiting physical activity, visiting saunas.</span>
          <span>It is desirable to carry out blood collection until 10 am - in connection with the daily biorhythm.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>URINE</span>
        </div>
        <div class="preparation-text">
          <span>On the eve of the delivery of the analysis you must refrain from physical activity, drinking alcohol and coffee, you should not eat products that affect the color of urine (beets, bright fruits, vegetables).</span>
          <span>The day before delivery urine to avoid the use of acute and salty food.</span>
          <span>Women are not recommended to give a general urinalysis during menstruation and 5-7 days after cystoscopy.</span>
          <span>Before taking urine, it is necessary to carry out thorough hygiene of the external genital organs.</span>
          <span><b>Urine sampling for a general analysis and according to Nechiporenko in ONE DAY DO NOT CARRY OUT !!!</b></span>
          <span>For women:</span>
          <span>The entrance to the vagina must be closed with a tampon!</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>General urine analysis + PCR (urine)</span>
        </div>
        <div class="preparation-text">
          <span>To study, take the first portion of morning urine.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Urine on Nechiporenko</span>
        </div>
        <div class="preparation-text">
          <span>To study, take an average portion of morning urine.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Microalbumin in urine</span>
        </div>
        <div class="preparation-text">
          <span>Urine is taken from an independent home and delivered to a biological material collection point (up to 2 hours).</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>Daily urine</span>
        </div>
        <div class="preparation-text">
          <span>Urine is taken for 24 hours at home, following the usual drinking regime.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (urine)</span>
        </div>
        <div class="preparation-text">
          <span>To study, take the first portion of morning urine.></span>
          <span>It is not recommended the day before delivery urine to use diuretic drugs and dietary supplements, laxatives, use rectal candles, medicinal preparations of iron, copper, bismuth.></span>
          <span>Urine is taken from an independent home and delivered to a biological material collection point (up to 2 hours).></span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PCR + BAC</span>
        </div>
        <div class="preparation-text">
          <span>The material is collected before the start of treatment with antibacterial, immunobiotic, antifungal, antiviral drugs.</span>
          <span>At the control of treatment (after the end of treatment):</span>
          <span>- without receiving immunobiological, antibacterial, antifungal, antiviral drugs - after 5-7 days;</span>
          <span>- with ingestion of immunobiological, antibacterial, antifungal, antiviral drugs - not earlier than in 14 days.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PLANTS OF UROGENITAL AND CYTOLOGICAL + LABEL FROM THE CERVICAL CHANNEL on the PAP-test + PCR (zinc from the urogenital tract of the woman / person + BAC (isolation from female / genital organs) + BAC (Mycoplasma hominis / Ureaplasma urealyticum)</span>
        </div>
        <div class="preparation-text">
          <span>For 3 years to refrain from urination.</span>
          <span>Eliminate sexual contacts within 3 days.</span>
          <span>For 14 days do not take antibacterial drugs.</span>
          <span>The collection of material at the point of biomaterial harvesting is not carried out in children under the age of 18, pregnant women, virgins (only delivered biological material).</span>
          <span><b>For women:</b></span>
          <span>Within 3 days, avoid dipping, bath and use of intravaginal candles, ointments, tampons.</span>
          <span>Warning! The material can not be delivered during menstruation (only 3 days after its completion).</span>
          <span><b>For men:</b></span>
          <span>For 3 years to refrain from urination.</span>
          <span>Eliminate sexual contacts within 3 days.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>SECRET PROSTATE (MICROSCOPIC STUDY + PCR + BAC)</span>
        </div>
        <div class="preparation-text">
          <span>On the eve of the study is not recommended to visit a sauna or sauna, drink alcohol and spicy food, take medications.</span>
          <span>Within 3 days abstain from diarrhea.</span>
          <span>Within 2-3 hours, refrain from urination.</span>
          <span>For 14 days do not take antibacterial drugs.</span>
          <span>The biological material is collected exclusively by the physician after the previous massaging of the prostate.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PCR (oropharynx) + BAC (discharge from the syndrome)</span>
        </div>
        <div class="preparation-text">
          <span>The stomachs from the oropharynx / zvy are taken on an empty stomach or 3-4 h after eating.</span>
          <span>An hour before the analysis can not be smoke, chew gum.</span>
          <span>Overnight to refrain from drinking alcohol.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PCR (vesicle content)</span>
        </div>
        <div class="preparation-text">
          <span>Do not use any cosmetics (cream, soap, lotions, etc.) during the 3 days prior to the study.</span>
          <span>Do not rinse on the day of delivery of biomaterials.</span>
          <span>Overnight to refrain from drinking alcohol.</span>
          <span>For 14 days do not take antibacterial drugs.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PCR (selection from the conjunctiva of the eye) + BAC (extraction from the eye)</span>
        </div>
        <div class="preparation-text">
          <span>For 24 hours, you should not use medications (drops, ointments).</span>
          <span>Before taking the material you can not wash and use cosmetics.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PCR (liquor)</span>
        </div>
        <div class="preparation-text">
          <span>The liquor is taken by a doctor and is immediately delivered to a biological material collection point.</span>
          <span>Before the spinal puncture should be stopped for 6-12 hours, if possible, intravenous, oral, subcutaneous injection of fluids, drugs.</span>
          <span>Admission of antiviral drugs at the time of delivery and during the last 2 weeks.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>PCR (saliva)</span>
        </div>
        <div class="preparation-text">
          <span>An hour before the analysis can not be smoke, chew gum.</span>
          <span>Overnight to refrain from drinking alcohol.</span>
          <span>Before removing saliva, you need to remove lipstick or lip balm.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>SPERM (MICROSCOPIC STUDY + PCR + BAC)</span>
        </div>
        <div class="preparation-text">
          <span>Sperm is taken independently at home and immediately delivered to the point of collection of biological material (up to 2 hours).</span>
          <span>On the eve of the delivery of the analysis is not recommended to visit a sauna or sauna, drink alcohol and spicy food.</span>
          <span>Within 3 days abstain from diarrhea.</span>
          <span>Within 2-3 hours, refrain from urination.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>NACOCOGOGRAPH</span>
        </div>
        <div class="preparation-text">
          <span>Do not rinse or rinse your nose before taking the material.</span>
          <span>Within 4-5 years before the material is fetched, do not cramp nose with medicines.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>DEMODEX + PATHOLOGICAL MUSTS</span>
        </div>
        <div class="preparation-text">
          <span>Within 3 days do not use decorative cosmetics, personal care products, different creams, do not use local medicines.</span>
          <span>On the day of delivery, it is advisable not to wet the area to be explored.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (discharge from the nose)</span>
        </div>
        <div class="preparation-text">
          <span>Before the fence do not smoke and do not rinse the nose.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (ear allocation)</span>
        </div>
        <div class="preparation-text">
          <span>Do not wash your ears before taking a fence.</span>
          <span>The biological material is collected exclusively by the physician.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (discharge from the lower respiratory tract - washing water of the bronchi)</span>
        </div>
        <div class="preparation-text">
          <span>Manipulation is done in the morning ONLY exclusively by the doctor, only when it is not possible to collect phlegm from the patient.</span>
          <span>The patient should carefully rinse the oral cavity with warm boiled water before the procedure.</span>
          <span>Do not smoke.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (rectal administration)</span>
        </div>
        <div class="preparation-text">
          <span>In 2-3 days before taking the material, you should follow a diet that eliminates the intake of products that enhance the fermentation process in the intestine, lactic acid products and alcohol.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (discharge from the wound)</span>
        </div>
        <div class="preparation-text">
          <span>On the eve, 6-8 hours (night) before taking the biological material, cancel all medicines, procedures, antibacterial bandages.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (sparkling)</span>
        </div>
        <div class="preparation-text">
          <span>Харкотиння забирають самостійно вдома та одразу доставляють на пункт забору біологічного матеріалу (до 2 год).</span>
          <span>Харкотиння забирають натщесерце або через 3-4 год після прийому їжі.</span>
          <span>Перед забором не палити.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (breast milk)</span>
        </div>
        <div class="preparation-text">
          <span>Breast milk is taken away at home and immediately delivered to a biological material collection point (up to 2 hours).</span>
          <span>Milk collected on the eve of the study is not subject to.</span>
          <span>Before taking breast milk, you should thoroughly wash with warm boiled water and soap your hands and mammary glands.</span>
        </div>
      </div>

      <div class="preparation-list-item">
        <div class="preparation-head-text">
          <span>BAC (dysbiosis)</span>
        </div>
        <div class="preparation-text">
          <span>Kal are taken freshly after an independent act of defecation and delivered to the point of biological material collection (up to 2 hours).</span>
          <span>In 2-3 days before taking the material, you should follow a diet that eliminates the intake of products that enhance the fermentation process in the intestine, lactic acid products and alcohol.</span>
          <span>In infants, you can take kal from the surface of the diaper without touching it.</span>
          <span>To ensure the correct result, the fence is carried out from the initial, middle and final parts of the faeces - to form averaged sample.</span>
        </div>
      </div>

    </div>
  </div>
</div>
