<div class="preparation-div">
  <div class="suggestion-div">
    <app-aside-menu></app-aside-menu>
  </div>

  <div class="preparation">

    <div class="preparation-header">
      <h1>Call a Nurse</h1>
    </div>

    <div class="preparation-list">

      <div class="preparation-text">
        <span><b>The challenge of a home nurse from Medicover ML</b> is not only a convenient additional service, but also a new level of patient care in the field of laboratory diagnosis. Sick patients, elderly citizens or people with disabilities, pregnant women, young children, etc. All of these patients have the right to quality medical care and laboratory diagnosis.</span>
      </div>
      <div class="preparation-head-text">
        <span>Give the analyzes where it is comfortable for you</span>
      </div>
      <div class="preparation-text">
        <span>You can do it at home, in the office, in the hospital or in the country.</span>
      </div>
      <div class="preparation-head-text">
        <span>How to call a nurse to home?</span>
      </div>
      <div class="preparation-text">
        <span>You can call the nurse to home independently for yourself, and identify the care for your family and friends. Only need to leave an application on the laboratory website below. You also need to specify which kind of laboratory services you need.</span>
      </div>
      <div class="preparation-head-text">
        <span>Get the highest quality service</span>
      </div>

      <div class="advantage-item">
        <div class="advantage-icon">
          <mat-icon svgIcon="baby"></mat-icon>
        </div>
        <div class="advantage-inf">
          <span>Taking a biomaterial in children from birth</span>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-icon">
          <mat-icon svgIcon="nurse"></mat-icon>
        </div>
        <div class="advantage-inf">
          <span>Experienced and precise nurses</span>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-icon">
          <mat-icon svgIcon="clock"></mat-icon>
        </div>
        <div class="advantage-inf">
          <span>Applications are accepted from 08:00 to 21:00</span>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-icon">
          <mat-icon svgIcon="ambulance"></mat-icon>
        </div>
        <div class="advantage-inf">
          <span>Urgent departure on call day</span>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-icon">
          <mat-icon svgIcon="family"></mat-icon>
        </div>
        <div class="advantage-inf">
          <span>Payment for only one visit with any number of family members</span>
        </div>
      </div>

      <div class="advantage-item">
        <div class="advantage-icon">
          <mat-icon svgIcon="map-location"></mat-icon>
        </div>
        <div class="advantage-inf">
          <span>Departure outside the city</span>
        </div>
      </div>

      <div class="preparation-head-text">
        <span>Advantages of the service Calling a nurse to home from ML "Medicover":</span>
      </div>
      <div class="preparation-text">
        <span>You do not need to transport the patient to a biomaterial fence.</span>
        <span>You choose the date that is convenient for you.</span>
        <span>A home nurse call will take place the day after the confirmation of the application.</span>
        <span>The analysis of the home is carried out quickly and without queues.</span>
        <span>You avoid contact with other patients in the vehicle or fence.</span>
        <span>Get an impeccable and reliable laboratory diagnostic service without leaving your home.</span>
      </div>

      <div class="preparation-head-text">
        <span>The cost of a call a nurse to home:</span>
      </div>
      <div class="preparation-text">
        <span>The cost of calling within the city - 170 UAH</span>
        <span>The cost of calling within the city in this day - 200 UAH</span>
        <span>The cost of calling within 20 km of the suburban area - 280 UAH</span>
      </div>

      <div class="preparation-head-text">
        <span>Call a Nurse</span>
      </div>

      <div class="nurse-call-block">
        <app-call-nurse-form></app-call-nurse-form>
      </div>

    </div>

  </div>
</div>
