//slider

.slider-div {
  display: flex;
  height: 66vh;
  max-height: 600px;
  width: 100%;
  margin-bottom: 27px;

  ::ng-deep .start-page-slider {
    width: 100%;

    .slides {
      height: 151% !important;
    }
  }

  .star-page-slider-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 66vh;
    max-height: 600px;
    width: 100%;

    .star-page-slider-text-container-txt {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-left: 5%;
      top: 10%;
      color: #00695c;
      font-size: 45px;
      font-weight: 700;
    }

    .star-page-slider-text-container-btn {
      display: flex;
      position: absolute;
      margin-left: 5%;
      top: 80%;

      .but-slider {
        font-size: 16px;
        font-weight: 600;
        height: 42px;
        width: 160px;
      }
    }
  }
}

//discount-map

.discount-map-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 365px;
  width: 100%;

  .discount-map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 1050px;

    .discount {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 630px;

      .discount-img {
        display: flex;
        position: relative;
        z-index: -1;
        width: 630px;
        height: 275px;
      }

      .discount-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 15px 0 0 30px;
        color: #00695c;
      }

      .discount-button {
        display: flex;
        position: absolute;
        margin-left: 5%;
        top: 75%;

        .but-dis {
          font-size: 16px;
          font-weight: 600;
          height: 42px;
          width: 160px;
        }
      }
    }

    .map {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 420px;

      .map-img {
        display: flex;
        position: relative;
        z-index: -1;
        width: 420px;
        height: 275px;
        filter: saturate(1.5) contrast(81%) hue-rotate(55deg);
      }

      .map-text {
        display: flex;
        position: absolute;
        margin: 15px 0 0 30px;
        color: #004d40;
      }

      .map-button {
        display: flex;
        position: absolute;
        margin-left: 7%;
        top: 75%;

        .but-map {
          font-size: 16px;
          font-weight: 600;
          height: 42px;
          width: 140px;
        }
      }
    }
  }
}

//home-call-offer

.home-call-offer-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 347px;
  width: 100%;

  .home-call-offer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 257px;
    width: 1050px;

    .hm-cll-btn {
      display: flex;
      flex-direction: column;
      position: relative;
      height: 100%;
      width: 350px;

      &:after {
        content: "";
        height: 100%;
        right: -67%;
        left: 100%;
        width: 0;
        position: absolute;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        z-index: -1;
        opacity: .4;
      }

      &:hover:after {
        background: rgb(219, 227, 249);
        width: 67%;
        left: 30%;
        right: 0;
      }

      .hm-cll-btn-text {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 15px 0 0 30px;
        color: #00695c;
      }

      .hm-cll-btn-button {
        display: flex;
        position: absolute;
        margin-left: 7%;
        top: 75%;

        .but-home-offer {
          font-size: 16px;
          font-weight: 600;
          height: 42px;
          width: 160px;
        }

        .but-call {
          font-size: 16px;
          font-weight: 600;
          height: 42px;
          width: 130px;
        }
      }
    }
  }
}

//we are trusted

.trusted-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 690px;
  width: 100%;

  .trusted {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 1050px;

    .trusted-header {
      display: flex;
      height: 52px;
      color: #00695c;
      font-size: 45px;
      font-weight: 700;
      padding-left: 15px;
    }

    .trusted-block-main {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 548px;
      width: 100%;

      .trusted-block {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 350px;
        padding: 30px 15px;
        transform: scale(.85);
        opacity: .45;
        transition: all 0.35s ease 0s;
        -webkit-transition: all 0.35s ease 0s;

        &:hover {
          transform: scale(1);
          opacity: 1;
        }

        &:after {
          content: "";
          height: 100%;
          right: -67%;
          left: 100%;
          width: 0;
          position: absolute;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          z-index: -1;
          opacity: .4;
        }

        &:hover:after {
          background: rgb(219, 227, 249);
          width: 67%;
          left: 30%;
          right: 0;
        }

        .trusted-block-img {
          width: 140px;
          height: 140px;
          overflow: hidden;
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .trusted-block-text {
          display: flex;
          flex-direction: column;
          width: 320px;
          height: 348px;

          .trusted-block-text-main {
            color: #00695c;
            font-size: 20px;
            font-weight: 600;
          }

          .trusted-block-text-response {
            margin-top: 20px;
            color: #00695c;
            font-size: 16px;
          }
        }
      }
    }
  }
}

//news

.news-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 678px;
  width: 100%;

  .news {
    display: flex;
    flex-direction: column;
    height: 588px;
    width: 1050px;

    .news-header {
      display: flex;
      height: 52px;
      color: #00695c;
      font-size: 45px;
      font-weight: 700;
      padding-left: 15px;
    }

    .news-block-main {
      display: flex;
      flex-direction: row;
      position: relative;
      height: 536px;
      width: 100%;

      .news-block {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 350px;
        padding: 40px 20px;

        &:after {
          content: "";
          height: 95%;
          right: -67%;
          left: 100%;
          top: 0;
          width: 0;
          position: absolute;
          transition: all 0.3s ease 0s;
          -webkit-transition: all 0.3s ease 0s;
          z-index: -1;
          opacity: .4;
        }

        &:hover:after {
          background: rgb(219, 227, 249);
          width: 67%;
          left: 30%;
          right: 0;
        }

        .news-block-img {
          width: 310px;
          height: 220px;
          overflow: hidden;
          margin-bottom: 30px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .news-block-text {
          display: flex;
          flex-direction: column;
          width: 310px;
          height: 206px;

          .news-block-text-main {
            color: #00695c;
            font-size: 20px;
            font-weight: 600;
          }

          .news-block-text-response {
            margin-top: 20px;
            color: #00695c;
            font-size: 16px;
          }

          .news-button {
            display: flex;
            position: absolute;
            top: 80%;

            .news-btn {
              font-size: 16px;
              font-weight: 600;
              height: 42px;
              width: 160px;
            }
          }
        }
      }
    }
  }
}
