<form>
  <div class="center">
    <mat-form-field class="firstName-input">
      <input matInput placeholder="First Name">
      <mat-icon matPrefix>
        account_circle
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="secondName-input">
      <input matInput placeholder="Second Name">
      <mat-icon matPrefix>
        account_circle
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="login-input">
      <input matInput placeholder="Email">
      <mat-icon matPrefix>
        contact_mail
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="phone-input">
      <input matInput placeholder="Contact Phone">
      <mat-icon matPrefix>
        contact_phone
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="position-input">
      <mat-label>Position</mat-label>
      <mat-select>
        <mat-option *ngFor="let position of positions" [value]="position.value">
          {{position.viewValue}}
        </mat-option>
      </mat-select>
      <mat-icon matPrefix class="mat-icon-special">
        assignment_ind
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="password-input">
      <input matInput placeholder="Password" [type]="showPassword ? 'text' : 'password'">
      <mat-icon matPrefix>
        vpn_key
      </mat-icon>
      <mat-icon matSuffix (click)="showPassword = !showPassword; $event.stopPropagation()">
        {{ showPassword ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </mat-form-field>

    <div class="sign-up-button-wrapper">
      <button mat-stroked-button color="primary" class="btn-login" [routerLink]="['../login']">Log In</button>
      <button mat-flat-button color="primary" class="btn-register">Sign Up</button>
    </div>

  </div>
</form>
