<div class="department-div">
  <div class="suggestion-div">
    <app-aside-menu></app-aside-menu>
  </div>

  <div class="department">
    <div class="department-header">
      <h1>Medicover - Lviv</h1>
    </div>

    <div class="department-map" id="map" #leaflet></div>

    <div class="department-header">
      <h1>List of departments</h1>
    </div>
    <div class="department-list">
      <div class="dep-div" *ngFor="let department of departments">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <app-department [department]="department" [map]="this.map" [mapDiv]="leaflet"></app-department>
        </div>
      </div>
    </div>

  </div>
</div>
