<div class="department-div">
  <div class="suggestion-div">
    <div class="suggestion">
      <span>Алергія</span>
      <span>Загальний аналіз крові</span>
      <span>Загальний аналіз сечі</span>
      <span>Біохімічні аналізи</span>
      <span>Група крові та резус фактор</span>
      <span>Згортання крові</span>
      <span>Гормони</span>
      <span>Захворювання, що передаються статевим шляхом</span>
      <span>Мікробіологічні дослідження (посіви)</span>
      <span>Інфекції, паразити, грибки</span>
      <span>Аналізи для дітей</span>
      <span>Аналізи для жінок</span>
      <span>Аналізи при вагітності</span>
      <span>Аналізи для чоловіків</span>
      <span>Вітаміни та мінерали</span>
      <span>Цукровий діабет</span>
      <span>Серце та судини</span>
      <span>Генетичні аналізи</span>
      <span>Онкомаркери</span>
    </div>
  </div>

  <div class="department">
    <div class="department-header">
      <h1>Medicover - Lviv</h1>
    </div>

    <div class="department-map">

    </div>

    <div class="department-header">
      <h1>List of departments</h1>
    </div>

    <div class="department-list">

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Karmelyuk Street, 12</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>08:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>08:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Khmelnytsky Street, Oculus MC</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>08:30-16:00</div>
            <div>08:30-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>08:30-13:00</div>
            <div>08:30-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Vygovsky Street, 32</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Hasheka Street, 17</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>08:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>08:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Kolomyiska Street, 1</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Mazepy Street, 25B</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Pekarska Street, 33</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Symonenko Street, 4</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Subotivska Street, 2</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-17:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Chuprynky Street, 38</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Shevchenko Street, 313</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>08:00-18:00</div>
            <div>09:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>08:00-13:00</div>
            <div>09:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="department-div">
        <div class="department-icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="department-block">
          <div class="department-text">
            <span>Lviv, Red Guelder Rose Avenue, 57</span>
          </div>
          <div class="department-schedule">
            <div></div>
            <div>Mon-Fri</div>
            <div>Sat</div>
            <div>Sun</div>
            <div>Work schedule</div>
            <div>07:00-18:00</div>
            <div>08:00-14:00</div>
            <div>Outgoing</div>
            <div>Sampling</div>
            <div>07:00-13:00</div>
            <div>08:00-12:00</div>
            <div></div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
